html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: linear-gradient(90deg, rgba(244,244,244,1) 0%, rgba(222,222,222,1) 33%, rgba(189,189,189,1) 100%);
}

h2 {
	margin: 0;
	padding: 0;
}

#game {
	width: 80%;
	height: 80%;
	padding: 0;
	margin: auto;
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: black;
}

#leftmenu {
	position: absolute;
	left: 0;
	width: 20%;
	height: 100%;
	background: black;
	text-align: center;
	color: white;
}

#pointsText {
    font-size: 30px;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 10%;
	color: white;
	text-align: center;
}

#content {
	position: absolute;
	left: 20%;
	width: 80%;
	height: 100%;
}

#content.Rich {
    background: url('img/rooms/Rich.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#content.Good {
	background: url('img/rooms/Good.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#content.Medium {
	background: url('img/rooms/Medium.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#content.OK {
	background: url('img/rooms/OK.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#rat {
	position: absolute;
	display: none;
	width: 6%;
	height: 7%;
	bottom: 5%;
	z-index: 2;
	background: url('img/rat.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	left: 2%;
	animation: mouvement-rat 10s linear infinite;
}

#cat {
	position: absolute;
	display: none;
	width: 8%;
	height: 8%;
	bottom: 33%;
	z-index: 2;
	background: url('img/cat.gif');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	right: 3%;
}

#lamp {
	position: absolute;
	display: none;
	width: 20%;
	height: 20%;
	bottom: 33.3%;
	z-index: 2;
	background: url('img/lamp.gif');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	right: 20%;
}

#commode {
	position: absolute;
	display: none;
	z-index: 999;
	width: 100%;
	height: 100%;
	background-image: url('img/rooms/commode.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

@keyframes mouvement-rat {
	from {
		transform: translate3d(0, 0, 0);
	}

	25% {
		transform: translate3d(1500%, -65%, 0) scale(0.75);
	}

	50% {
		transform: translate3d(1500%, -65%, 0) rotateY(180deg) scale(0.75);
	}

	75% {
		transform: translate3d(0, 0, 0) rotateY(180deg) scale(1);
	}

	to {
		transform: translate3d(0, 0, 0) scale(1);
	}
}

#content.OK #rat {
	display: block;
}
#content.Good #cat {
	display: block;
}
#content.Medium #lamp {
	display: block;
}


#content.OK #commode {
	display: block;
}

#scoreText {
	position: absolute;
	top: 10px;
	right: 30%;
	width: 15%;
	height: 5%;
	text-align: right;
	color: white;
	font-size: 20px;
	font-weight: bold;
}

#precarityBar {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 20%;
	height: 5%;
	border: 1px solid white;
}
#precarityBar div {
	width: 100%;
	height: 100%;
	background: red;
}

.popup {
	width: 80px;
	height: 80px;
	position: absolute;
	z-index: 99999 !important;
    background-color: rgba(30, 30, 30, 0.3);
    border-radius: 50%;
}

#upgradesText {
	background: blue;
	font-weight: bold;
	font-size: 14px;
}

#upgradesList {
	margin: 0;
	padding: 0;
}

#upgradesList li:first-child {
	margin-top: 20px;
}

#upgradesList li {
	list-style-type: none;
}

#upgradesList li:hover {
	cursor: pointer;
}
#upgradesList li.bought {
	background: linear-gradient(90deg, rgba(209,209,209,1) 0%, rgba(213,213,213,1) 33%, rgba(145,147,148,1) 100%);
	color: black;
}
#upgradesList li.bought:hover {
	cursor: initial;
}

#endTitle {
    text-align: center;
}

#endingMessage {
    text-align: center;
}

#launch-screen {
    width: 100%;
    height: 100%;
}

#clickToPlay {
    margin: auto;
    height: 15%;
    width: 20%;
    background-image: url('img/clickToPlay.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#clickToPlay:hover{
    cursor:pointer;
}

#rules {
    margin: 0 0 0 5%;
    text-align: left;
}

#mascotte {
    height: 40%;
    background-image: url('img/jeajean.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}