/*--RESET CSS-----------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


/* Bordel sans nom: */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


html {
	height: 100%;
	width: 100%;
	
}

body {
	height: 100%;
	width: 100%;
	
}

.navbar {
	position: fixed !important;
	width: 100%;
	top: 0;
	z-index: 5;
}
 
html body #content_page{
	position: static;
	height: 100%;
	width: 100%
	padding: 0;
	margin-left: 2% !important;
	margin-right: 2% !important;
}

#imageAccueil {
	margin-top: 4%;
}

.zone_button {
	padding: 5px 50px; 
	position: static;
	cursor: pointer;
}

.contentItemChoice {
	display: inline-block;
}


#zone_logement {
	display: none;
}

#zone_Sante {
	display: none;
}

#zone_VieEtu {
	display: none;
}

#zone_AideFinanc {
	display: none;
}

#zone_rechercheLog {
	display: none;
}

#zone_bourses{
	display: none;
}

#zone_conseilAchat {
	display: none;
}

.hide {
	display: none !important;
	
}

.show {
	display: flex !important;
	
}

.itemChoice {
	padding: 5%;
	color: grey;
}

.itemChoice:hover {
	color: black;
}

#chatbox{
	display: none;
	border: solid 1px grey;
	position: fixed;
	bottom: 30px;
	right: 5px;
	width: 300px;
	height: 400px ;
	border-radius: 15px;
	background-color: white;
}

#barChatbox {
	position: fixed;
	bottom: 5px;
	right: 5px;
	width: 300px;
	height: 80px ;
	cursor: pointer;
}

#bulleJC1{
	width: 80%;
	height: 20%;
	left : 7%;
	top : 2%;
	background-color: #C0C0C0;
	border-radius: 15px;
	position: absolute;
	text-align: center;
}

#bulleJC1 p{
	padding: 2px;
	width: 100%;

}

#bulleUser{
	display: none;
	width: 80%;
	height: 20%;
	right: 7%;
	top : 28%;
	background-color: #C0C0C0;
	border-radius: 15px;
	position: absolute;
	text-align: center;
}

#bulleJC2{
	display: none;
	width: 80%;
	height: 20%;
	left : 7%;
	top : 53%;
	background-color: #C0C0C0;
	border-radius: 15px;
	position: absolute;
	text-align: center;
}

#choixProp {
	height: 50px;
	width: 100%;
	bottom: 13%;
	display: inline-block;
	position: fixed;
}

#choixProp button {
	width: 7%;
	margin: 0.2%;
}


footer {
	bottom: 0;
	height: 10%;
	width: 100%;
}

footer img {
	margin: auto;
	width: 10%;
	height: 40%;
}





