#screen {
  width: 70%;
  height: 80%;
  background-color: blue;
  border: 4px solid yellow;
  border-radius: 10px;

  box-sizing: border-box;
  margin: 40px auto 40px;
  padding: 40px;

  font-family: "Lucida Console", monospace;
  font-size: 1em;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  z-index: 1000000;
  position: relative;
  visibility: hidden;
}

#screen-head {
  height: 40px;
}

#screen-content {
  flex-grow: 1;
  position: relative;
  /*margin-top: 0px;
  margin-bottom: 0px;*/
}

#screen-achievement {
  height: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  visibility: hidden;
}

#screen-input {
  height: 30px;
  margin: 40px auto 0px;
}

#sessionUtilisateur {
  height: 50%;
  margin: auto auto;
  justify-content: center;
  display:flex;
}

#screen-session {
  background-color: blue;
  color: yellow;

  font-family: "Lucida Console", monospace;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  display:flex;
  margin-top: 2%;
}

#screen-error {
  background-color: blue;
  color: red;
  font-family: "Lucida Console", monospace;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  display:flex;
}

#eteindreOrinateur{
  width: 5%;
  
}

#screen-input > input {
  border: 2px dashed yellow;
  background-color: blue;
  color: yellow;

  font-family: "Lucida Console", monospace;
  font-size: 1.5em;
  font-weight: bold;

  width: 500px;
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#screen-menu {
  height: 30px;
  margin: 20px auto 0px;
}

#screen-menu > button {
  background-color: blue;
  color: yellow;

  font-family: "Lucida Console", monospace;
  font-size: 1.5em;
  font-weight: bold;
  
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.error {
  color: red;
}

.code {
  text-align: center;
  color: red;
  font-weight: bold;
}

.note {
  color: green;
}

.oops {
  text-decoration: line-through;
}