/*--RESET CSS-----------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* Bordel sans nom: */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #EFE0B5;
  z-index: -20;
}

.background-ground {
  position: absolute;
  bottom: 0;
  height: 30%;
  width: 100%;
  background-color: #DD9421;
  z-index: -10;
}

.background-ground::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 10px;
  background-color: black;
  z-index: -9;
}

.menu {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background-color: grey;
  padding-top: 10%;
}

.menu a, .menu h3 {
  text-decoration: none;
  display: flex;
  justify-content: center;
  widows: auto;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #D0312D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.bouton-pause img {
  height: 7%;
  position: absolute;
  top: 7%;
  left: 7%;
  z-index: 99999999;
}

.timer {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 15%;
  height: 10%;
  z-index: 100;
}

#lumiere {
  position: fixed;
  z-index: 99;
  border-radius: 50%;
  width: 300vw;
  height: 300vw;
  box-sizing: border-box;
  border: solid 145vw rgba(20, 20, 20, 0.8);
  left: -100vw;
  top: -125vw;
  display: none;
}

#img-interrupteur {
  z-index: 100;
}

/* IMMMMMMMMMMMMMMMMMMMMMMMMAAAAAAAAAAAAAAAAAAAAAAAAAGGGGGGGGGGGGGGGGGGEEEEEEEEEEEEEEEEEEESSSSSSSSSSSSSSSSSSSSS */
.image {
  position: absolute;
}

#img-EG_tapis {
  bottom: 10%;
  left: 15%;
  height: 60%;
  z-index: 1;
}

#img-EG_cle {
  bottom: 20%;
  left: 75%;
  height: 20%;
  z-index: 0;
}

.contenant {
  position: absolute;
  background-position: right top;
  background-size: contain;
  background-position: right top;
}

.contenant img {
  position: absolute;
  max-height: 100%;
}

#compteur-electrique {
  background-image: url("./../assets/images/EG_micro_rouge.png");
  background-color: grey;
  top: 20vh;
  left: 25%;
  height: 22.275vh;
  width: 15.72vh;
  z-index: 999999;
}

#quitter-compteur {
  width: 10vh;
  height: 10vh;
  transform: translate(-10vh);
  z-index: 999999;
}

.bouton-compteur {
  cursor: pointer;
  position: absolute;
  width: 37.5%;
  height: 13%;
}

#compteur-electrique #bleu {
  top: 62%;
  left: 12%;
  background-color: rgba(0, 0, 0, 0);
}

#compteur-electrique #jaune {
  top: 62%;
  left: 50.5%;
  background-color: rgba(0, 0, 0, 0);
}

#compteur-electrique #rouge {
  top: 76%;
  left: 12%;
  background-color: rgba(0, 0, 0, 0);
}

#compteur-electrique #vert {
  top: 76%;
  left: 50.5%;
  background-color: rgba(0, 0, 0, 0);
}

#img-02778 {
  z-index: 999999;
}

#wavy {
  bottom: 20%;
  left: 0%;
  height: 25%;
  width: 15.72vh;
  z-index: 1000000;
}

#bourse {
  z-index: 1000000000000;
  left: 40%;
  position: absolute;
}

#jeancloudText {
  transform: translate(25vh, -30px);
  height: 60px;
  padding: 20px;
  font-size: 20px;
  background: #0E9FD8;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

#jeancloudText:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 76px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid #0E9FD8;
  border-bottom: 13px solid transparent;
}

#timer{
  color: red;
  font-family: "Lucida Console", monospace;
  font-size: 1.5em;
  font-weight: bold;
  right: 0px;
}
